/* ===========================
   RESET
=========================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #010100;
    color: #F5F5F5;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

/* ===========================
   VARIÁVEIS
=========================== */

:root{
    --background:#010100;
    --header:rgba(5,5,5,.55);
    --white:#F5F5F5;
    --text:#D6D6D6;
    --gold:#B77719;
    --gold-hover:#CB8A28;
    --border:rgba(255,255,255,.08);
    --transition:.35s ease;
}

/* ===========================
   CONTAINER
=========================== */

.container{
    width:min(1280px,92%);
    margin:auto;
}

/* ===========================
   HEADER
=========================== */

#header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    background:var(--header);
    backdrop-filter:blur(18px);
    border-bottom:1px solid var(--border);
}

#header .container{
    height:82px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo img{
    width:90px;
}

.nav-list{
    display:flex;
    gap:70px;
}

.nav-list a{
    font-size:.95rem;
    letter-spacing:.18rem;
    color:#F5F5F5;
    position:relative;
    transition:var(--transition);
}

.nav-list a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:2px;
    background:var(--gold);
    transition:var(--transition);
}

.nav-list a:hover{
    color:white;
}

.nav-list a:hover::after{
    width:100%;
}

#menu-button{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:2.2rem;
    cursor:pointer;
}

/* ===========================
   MENU MOBILE
=========================== */

#mobile-menu{
    position: fixed;
    top: 82px;
    left: 0;
    width: 100%;
    background: rgba(5, 5, 5, .95);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,.08);
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    z-index: 998;
}

#mobile-menu ul{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 24px;
}

#mobile-menu a{
    color: #F5F5F5;
    font-size: 1rem;
    letter-spacing: .12rem;
}

#mobile-menu.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* ===========================
   HERO
=========================== */

#hero{
    position:relative;
    min-height:100vh;
    display:flex;
    align-items:center;
    background-image:url("../images/hero-desktop.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        90deg,
        rgba(1,1,0,.82),
        rgba(1,1,0,.38),
        rgba(1,1,0,.18)
    );
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero-text{
    max-width:640px;
}

.hero-text h1{
    font-size: 4rem;
    font-weight:700;
    line-height:1.06;
    margin-bottom:26px;
}

.hero-text p{
    max-width:600px;
    font-size:1.55rem;
    line-height:1.45;
    letter-spacing:.18rem;
    color:var(--text);
    margin-bottom:48px;
}

.hero-buttons{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.btn{

    width:370px;
    height:62px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:40px;
    font-size:1.08rem;
    transition:var(--transition);
}

.btn-primary{
    background:var(--gold);
    color:white;
}

.btn-primary:hover{
    background:var(--gold-hover);
}

.btn-outline{
    border:1px solid var(--gold);
    color:var(--gold);
}

.btn-outline:hover{
    background:var(--gold);
    color:white;
}

/* ===========================
   FUNDAMENTOS
=========================== */

#fundamentos{
    padding: 120px 0;
    background: var(--background);
}

.section-header{
    text-align: center;
    margin-bottom: 70px;
}

.section-header span{
    display: block;
    font-size: 2rem;
    font-weight: 300;
    color: var(--text);
    margin-bottom: -8px;
}

.section-header h2{
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: .18rem;
    color: var(--white);
}

.fundamentos-grid{
    display: grid;
    grid-template-columns: 1.1fr .9fr 1.1fr;
    gap: 18px;
    align-items: start;
}

.fundamento-card img{
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
    transition: .4s ease;
}

.fundamento-card:hover img{
    transform: scale(1.03);
}

.number{
    display: block;
    margin-top: 18px;
    font-size: .95rem;
    color: #B5B5B5;
    letter-spacing: .15rem;
}

.fundamento-card h3{
    margin-top: 8px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .12rem;
}

.divider{
    width: 36px;
    height: 2px;
    background: var(--gold);
    margin: 18px 0 18px;
}

.fundamento-card h4{
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 14px;
}

.fundamento-card p{
    color: #BDBDBD;
    line-height: 1.7;
    font-size: 1rem;
}

/* ===========================
   MÉTODO
=========================== */

#metodo{
    padding:140px 0;
}

.process-container{
    display:flex;
    flex-direction:column;
    gap:80px;
    margin-top:80px;
}

.process-step{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:70px;
    align-items:center;
}

.reverse .process-image{
    order:2;
}

.reverse .process-content{
    order:1;
    text-align:right;
    padding-right: 0px;
    padding-left: 180px;
}

.process-image img{
    width:100%;
    aspect-ratio:16/10;
    object-fit:cover;
    display:block;
}

.process-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-top: 88px;
    padding-right: 180px;
}

.process-number{
    font-size:3.6rem;
    font-weight:300;
    color:var(--white);
}

.process-content h3{

    font-size:3rem;

    font-weight:400;

    margin-bottom:20px;

}

.gold-divider{

    width:100%;

    height:1px;

    background:var(--gold);

    margin:18px 0;

}

.process-content p{

    font-size:1.4rem;

    line-height:1.5;

    color:var(--text);

}

.process-cta{

    display:flex;

    justify-content:center;

    margin-top:90px;

}

/*==========================
        PORTFÓLIO
==========================*/

#portfolio{
    padding:140px 0;
}

#portfolio .section-portfolio{
    text-align:center;
    margin-bottom:70px;
}

#portfolio .section-portfolio span{
     font-size:2.6rem;
    font-weight:700;
}

#portfolio .section-portfolio h2{
    font-size:2rem;
    font-weight:300;
    line-height: 1.2;
}

.portfolio-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-areas:
    "card1 card2"
    "card3 card2"
    "card3 card4";
    gap:18px;
}

.card-small{
    grid-area:card1;
}

.card-large{
    grid-area:card2;
}

.card-tall{
    grid-area:card3;
}

.card-medium{
    grid-area:card4;
}

.portfolio-card{
    position:relative;
    overflow:hidden;
    display:block;
}

.card-small{
    height:370px;
}

.card-large{
    height:560px;
}

.card-tall{
    height:560px;
}

.card-medium{
    height:370px;
}

.portfolio-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.6s;
}

.portfolio-card:hover img{
    transform:scale(1.05);
}

.portfolio-overlay{
    position:absolute;
    inset:0;
    display:flex;
    align-items:flex-end;
    padding:25px;
    background:linear-gradient(
        transparent 45%,
        rgba(0,0,0,.75)
    );
}

.portfolio-overlay h3{
    color:#fff;
    font-size:1rem;
    font-weight:300;
}

.portfolio-cta{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

/*======================
        CLOSING
=======================*/

#closing{
    position: relative;
    overflow: hidden;
}

#closing::before{
    content: "";

    position: absolute;

    inset: 0;

    background-image: url("../images/final-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    z-index: -1;
}

#closing::after{

    content: "";

    position: absolute;

    inset: 0;

    pointer-events: none;

    background: linear-gradient(
        to left,
        rgba(1, 1, 0, 0.88) 0%,
        rgba(1, 1, 0, 0.75) 20%,
        rgba(1, 1, 0, 0.45) 40%,
        rgba(1, 1, 0, 0.15) 60%,
        transparent 80%
    );

    z-index: 0;

}

#faq,
#final{
    position: relative;
    z-index: 1;
}

/*======================
        FAQ
=======================*/

#faq{
    background: transparent;
    padding: 120px 0 180px;
    position: relative;
    z-index: 2;
}

.faq-header{
    text-align: center;
    margin-bottom: 70px;
}

.faq-header h2{
    font-size: 3.3rem;
    font-weight: 300;
    color: #f5f5f5;
}

.faq-header span{
    font-weight: 700;
}

.faq-container{
    max-width: 1100px;
    margin: 0 auto;
}

.faq-item{
    border: 1px solid #B97719;
    border-radius: 24px 0 24px 0;
    margin-bottom: 18px;
    overflow: hidden;
    background: transparent;
}

.faq-question{

    width: 100%;

    padding: 28px 36px;

    background: transparent;

    color: #fff;

    border: none;

    display: flex;

    justify-content: space-between;

    align-items: center;

    cursor: pointer;

    font-size: 1.15rem;

    font-weight: 600;

    text-align: left;

    transition: .35s;

}

.faq-answer{

    max-height: 0;

    overflow: hidden;

    transition: .45s;

}

.faq-answer p{

    padding: 0 36px 30px;

    color: #d8d8d8;

    line-height: 1.8;

    font-size: 1rem;

}

.faq-question:hover{

    background: rgba(255,255,255,.02);

}

.faq-icon{

    font-size: 2rem;

    color: #B97719;

    transition: .35s;

    flex-shrink: 0;

    margin-left: 20px;

}

.faq-item.active .faq-answer{

    max-height: 250px;

}

.faq-item.active .faq-icon{

    transform: rotate(45deg);

}

/*======================
      CTA FINAL
=======================*/



#final{
    margin-top: -90px;
    padding-top: 220px;
    padding-bottom: 0;
    position: relative;
}

.final-content{

    width: 42%;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    text-align: right;

    padding-bottom: 170px;

}

.final-content h2{

    color: white;

    font-size: 4rem;

    line-height: 1.1;

    font-weight: 700;

    margin-bottom: 35px;

}

.final-content p{

    color: white;

    letter-spacing: .25em;

    line-height: 1.7;

    margin-bottom: 45px;

}

.final-buttons{

    display:flex;
    flex-direction:column;
    align-items:flex-end;

    gap:18px;

    margin-bottom:35px;

}

.final-content small{

    color: white;

    letter-spacing: .28em;

    font-size: .85rem;

}

footer{

    background: rgba(0,0,0,.45);

    backdrop-filter: blur(6px);

    border-top: 1px solid rgba(255,255,255,.08);

}

.footer-content{

    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr 2.9fr;

    align-items: center;

    gap: 8px;

}

.footer-brand img{

    width: 165px;

}

.footer-social{

    display:flex;
    gap:18px;

    margin-bottom:22px;

}

.footer-social a{

    width:46px;
    height:46px;

    display:flex;
    justify-content:center;
    align-items:center;

    border:1px solid rgba(255,255,255,.25);
    border-radius:50%;

    color:#fff;

    transition:.35s;

}

.footer-social a:hover{

    background:#B97719;
    border-color:#B97719;

}

.footer-social i{

    font-size:1.2rem;

}

.footer-contact{

    color: white;

    letter-spacing: .18em;

    font-size: .9rem;

    line-height: 1.7;

}

.footer-text{

    color: white;

    font-size: 1.55rem;

    text-align: center;

    line-height: 1.6;

}

.footer-bottom{

    text-align: center;

    padding: 18px;

    border-top: 1px solid rgba(255,255,255,.08);

}

.footer-bottom p{

    color: #d8d8d8;

    font-size: .9rem;

}

.footer-bottom span{

    color: #B97719;

}

.footer-bottom i{

    color: #B97719;

    margin-right: 6px;

}

/* ===========================
   RESPONSIVO
=========================== */

@media (max-width:1300px) {
    .process-content {
    padding-top: 0px;
}

.process-number {
    font-size: 2.6rem;
}

.process-content h3 {
    font-size: 2rem;
}

.process-content p{
        font-size: 1.05rem;
}

}

@media (max-width:1199px){
    .fundamentos-grid{
        grid-template-columns: 1fr .85fr 1fr;
        gap: 20px;
    }
}

@media(max-width:1000px){
    .nav-list{
        display:none;
    }

    #menu-button{
        display:block;
    }

    #mobile-menu{
    display: block;
    }

    #hero{
        background-image:url("../images/hero-mobile-two.png");
        align-items:flex-start;
        padding-top:140px;
    }

    .hero-text{
        max-width:100%;
    }

    .hero-text h1{
        font-size:3rem;
    }

    .hero-text p{
        font-size:1.05rem;
        letter-spacing:.12rem;
    }

    .hero-buttons{
        margin-top:380px;
    }

    .btn{
        width:100%;
    }

    .btn-outline{
        order:-1;
    }

}

@media (max-width:991px){
    .fundamentos-grid{
        grid-template-columns:1fr;
        justify-items:center;
        gap:60px;
    }

    .fundamento-card{
        width:100%;
        max-width:600px;
    }

    .card-center{
        width:100%;
        max-width:600px;
    }
}

@media (max-width: 991px) and (min-width: 768px){

    #metodo{
        padding: 100px 0;
    }

    .process-container{
        gap: 60px;
        margin-top:20px;
    }

    .process-step{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .process-content h3{
        margin-bottom: 14px;
    }

    .process-content p{
        font-size: 1.05rem;
        line-height: 1.6;
    }

    .gold-divider{
        margin: 14px 0;
    }

    .process-image img{
        aspect-ratio: 16 / 10;
    }

    .process-cta{
        margin-top: 70px;
    }

    #portfolio{
        padding:100px 0;
    }

    #portfolio .section-header{
        margin-bottom:50px;
    }

    #portfolio .section-header span{
        font-size:1.7rem;
    }

    #portfolio .section-header h2{
        font-size:2.7rem;
    }

    .portfolio-grid{
        gap:14px;
    }

    .card-small,
    .card-medium{
        height:220px;
    }

    .card-large,
    .card-tall{
        height:460px;
    }
}

@media(max-width:767px){
    .hero-text p{
        font-size:1rem;
        letter-spacing:.12rem;
    }

    .fundamento-card{
        max-width:100%;
    }

    .section-header{
        margin-bottom: 50px;
    }

    .section-header span{
        font-size: 1.6rem;
        margin-bottom: 8px;
    }

    .section-header h2{
        font-size: 1.6rem;
        letter-spacing: .08rem; /* reduz o espaçamento entre letras */
        line-height: 1.15;
    }

    #metodo{
    padding:90px 0;
}

.process-container{
    gap:60px;
    margin-top:55px;
}

.process-step{
    grid-template-columns:1fr;
    gap: 0px;
}

.process-image{
    order:1;
}

.process-content{
    order:2;
    text-align:left;
    padding-right: 180px;
}

.reverse .process-image{
    order:1;
    
}

.reverse .process-content{
    order:2;
    padding-right: 0px;
    padding-left: 200px;
}

.process-number{
    font-size:2.6rem;
}

.process-content h3{
    font-size:2rem;
}

.process-content p{
    font-size:1.05rem;
}

.process-cta{
    margin-top:60px;
}

.process-cta .btn{
    width:100%;
    max-width:390px;
}

    #portfolio{
        padding:90px 0;
    }

    #portfolio .section-header{
        margin-bottom:40px;
    }

    #portfolio .section-header span{
        font-size:1.6rem;
    }

    #portfolio .section-header h2{
        font-size:2.4rem;
    }

    .portfolio-grid{
        grid-template-columns:1fr;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4";
        gap:18px;
    }

    .card-small{
        height:220px;
    }

    .card-large{
        height:460px;
    }

    .card-tall{
        height:420px;
    }

    .card-medium{
        height:260px;
    }

    .portfolio-overlay{
        padding:18px;
    }

    .portfolio-overlay h3{
        font-size:1.2rem;
    }

    .portfolio-cta{
        margin-top:45px;
    }

    .portfolio-cta .btn{
        width:100%;
        max-width:390px;
    }
}

/* ==============================
   RESPONSIVO - FAQ/FINAL/FOOTER
================================= */

@media (max-width:1199px){

    .container{
        width:92%;
    }

    #faq{
        padding:90px 0 140px;
    }

    .faq-header h2{
        font-size:2.4rem;
    }

    .faq-question{
        padding:24px 28px;
        font-size:1rem;
    }

    .faq-answer p{
        padding:0 28px 24px;
    }

    .final-content{
        width:48%;
        padding-bottom:120px;
    }

    .final-content h2{
        font-size:3.2rem;
    }

    .final-content p{
        font-size:.95rem;
        letter-spacing:.18em;
    }

    .final-content small{
        font-size:.8rem;
    }

    .footer-content{
        grid-template-columns:
        0.4fr
        0.4fr
        1.4fr;
        gap:40px;
    }

    .footer-brand img{
        width:135px;
    }

    .footer-text{
        font-size:1.2rem;
    }
}

@media (max-width:767px){

    #closing{
        background-image: url("../images/final-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;

    }

    #faq{
        padding:70px 0 100px;
    }

    .faq-header h2{
        font-size:2.2rem;
    }

    .faq-question{
        padding:22px;
        font-size:.95rem;
    }

    .faq-answer p{
        padding:0 22px 22px;
        font-size:.9rem;
    }

    .final-content{
        width:100%;
        align-items:center;
        text-align:center;
        padding-bottom:80px;
    }

    .final-content h2{
        font-size:2.5rem;
    }

    .final-content p{
        max-width:380px;
        letter-spacing:.15em;
        text-align:center;
    }

    .final-content small{
        text-align:center;
    }

    .final-buttons{
        width:100%;
        align-items:center;
    }

    .final-buttons .btn{
        width:100%;
        max-width:380px;
    }

    .footer-content{

        display: grid;

        grid-template-columns: auto 1fr;

        grid-template-areas:
            "logo contact"
            "text text";

        align-items: center;

        gap: 30px 20px;

    }

    .footer-brand{

        grid-area: logo;

        justify-self: start;

    }

    .footer-contact{

        grid-area: contact;

        justify-self: end;

        text-align: right;

    }

    .footer-social{

        justify-content: flex-end;

    }

    .footer-text{

        grid-area: text;

        justify-self: center;

        text-align: center;

        max-width: 440px;

        margin-top: 10px;

    }

}

